{% extends 'shop/layout.html' %}
{% block title %}Категорії{% endblock %}

{% block content %}
<h2>Список категорій</h2>
<div class="product-grid">
    {% for category in page_obj %}
    <div class="product-card category-card">
        <h3>{{ category.title }}</h3>
        <form action="{% url 'read_category' category.id %}" method="get">
            <button type="submit" class="btn btn-primary">Детально про категорію</button>
        </form>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1">Перша</a>
    <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
    {% endif %}

    <span>Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Вперед</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Остання</a>
    {% endif %}
</div>
{% endblock %}