{% extends 'shop/layout.html' %}

{% block title %}Додати товар{% endblock %}

{% block content %}
<h2>Додати новий товар</h2>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="title">Назва:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="category">Категорія:</label>
        <select id="category" name="category" required>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="price">Ціна:</label>
        <input type="number" id="price" name="price" required>
    </div>
    <div>
        <label for="product_qty">Кількість:</label>
        <input type="number" id="product_qty" name="product_qty" required>
    </div>
    <button type="submit">Додати товар</button>
</form>

<br>
<form action="{% url 'main_page' %}" method="get">
    <button type="submit" class="btn btn-primary">Повернутися до списку товарів</button>
</form>
{% endblock %}