{% extends 'shop/layout.html' %}

{% block title %}Список товарів{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Назва</th>
                <th>Категорія</th>
                <th>Ціна</th>
                <th>Кількість</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in page_obj %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.product_qty }}</td>
                <td><button>Купити</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">Перша</a>
            <a href="?page={{ page_obj.previous_page_number }}">Попередня</a>
        {% endif %}

        <span>Cторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Наступна</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Остання</a>
        {% endif %}
    </div>
{% endblock %}
